# Filer som blir ignorert

project1_uke35.aux
project1_uke35.fdb_latexmk
project1_uke35.fls
project1_uke35.log
project1_uke35.synctex.gz
project1_uke35.out
project1_uke35.toc
thomas-algorithm.pro

project2_uke37.aux
project2_uke37.fdb_latexmk
project2_uke37.fls
project2_uke37.log
project2_uke37.out
project2_uke37.synctex.gz
project2_uke37.toc
