# Filer som blir ignorert når man commiter og pusher til GitHub

project1_uke35.aux
project1_uke35.fdb_latexmk
project1_uke35.fls
project1_uke35.log
project1_uke35.synctex.gz
project1_uke35.out
project1_uke35.toc
thomas-algorithm.pro

project2_uke37.aux
project2_uke37.fdb_latexmk
project2_uke37.fls
project2_uke37.log
project2_uke37.out
project2_uke37.synctex.gz
project2_uke37.toc

jm.out
testejm.cpp
teststats.txt

project3_uke40.aux
project3_uke40.fdb_latexmk
project3_uke40.fls
project3_uke40.log
project3_uke40.out
project3_uke40.synctex.gz
project3_uke40.toc

project4_uke43.aux
project4_uke43.fdb_latexmk
project4_uke43.fls
project4_uke43.log
project4_uke43.out
project4_uke43.synctex.gz
project4_uke43.toc
